body{
    background-color: var(--color-base);
    margin: 0;
    padding: 0;
}

/* ---------------------------Color--------------------------- */
.color-base{
    color: var(--color-base);
}
.color-base-alt{
    color: var(--color-base-alt);
}
.color-primary{
    color: var(--color-primary);
}
.color-c{
    color: var(--color-c);
}
.color-d{
    color: var(--color-d);
}
.color-e{
    color: var(--color-e);
}
.color-f{
    color: var(--color-f);
}
.color-g{
    color: var(--color-g);
}
.color-a{
    color: var(--color-a);
}
.color-b{
    color: var(--color-b);
}
.right-answer{
    color: var(--right-answer);
}
.wrong-answer{
    color: var(--wrong-answer);
}

/* ---------------------------bg-color--------------------------- */
.bg-color-base{
    background-color: var(--color-base);
}
.bg-color-base-alt{
    background-color: var(--color-base-alt);
}
.bg-color-primary{
    background-color: var(--color-primary);
}
.bg-color-c{
    background-color: var(--color-c);
}
.bg-color-d{
    background-color: var(--color-d);
}
.bg-color-e{
    background-color: var(--color-e);
}
.bg-color-f{
    background-color: var(--color-f);
}
.bg-color-g{
    background-color: var(--color-g);
}
.bg-color-a{
    background-color: var(--color-a);
}
.bg-color-b{
    background-color: var(--color-b);
}
.bg-right-answer{
    background-color: var(--right-answer);
}
.bg-wrong-answer{
    background-color: var(--wrong-answer);
}

/* ---------------------------def. de variaveis--------------------------- */

:root {
    --color-base: #F6F1E8;
    --color-base-alt: #E7E6DE;
    --color-primary: #350901;
    --color-c: #BB4C36;
    --color-d: #D57543;
    --color-e: #BFA843;
    --color-f: #6CAD5B;
    --color-g: #4BADB4;
    --color-a: #375792;
    --color-b: #76578F;
    --right-answer: #479762;
    --wrong-answer: #802f2f;
}